services:

  conduit:
    image: ghcr.io/ssmirr/conduit/conduit:latest
    container_name: conduit
    command: ["start", "-b", "1024", "-m", "20", "-v"]
    volumes:
      - conduit-data:/home/conduit/data
    restart: unless-stopped
    environment:
      - TZ=UTC
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"

volumes:
  conduit-data:
    driver: local
